// Place all the styles related to the call_for_paper controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.topic_list{
  text-transform: capitalize;


  ul{
      font-size: 14px;
      font-weight: 600;
      color: #848484;

    li{
      margin-top: 12px;
    }

    li:first-child{
      margin-top: 0px;
    }
  } 
}

table.content_table{
  text-align: left;
  font-size: 14px;
  th, td{;
    padding-bottom:8px;
    vertical-align: middle;
  }

  tr:last-child > th, tr:last-child > td{
    padding-bottom:0px;
  }

  td{
    padding-left: 25px;
    font-weight: 600;
    color: #575757;
  }
}
