<li>
  <%= link_to program_path(program[:id]) do%>
    <div class="program_element">
      <%= content_tag :span, program[:type], :class=>["program_type", !program[:type].nil?? program[:type].downcase : nil] %>
    <div class="title">
      <%= program[:title] %>
    </div>
    <div class="authors">
      <%= program[:authors].map{|a| a[:name] }.to_sentence%>
    </div>
  </div>
  <% end %>
</li>
