<p>Detailed time tables will be announced soon.</p>

<h3>Papers</h3>

<ul class="program_list">
  <% @papers.each do |paper| %>
    <%= render :partial=>'program_element', :locals=>{:program=>paper} %>
  <% end %>
</ul>

<h3>Visualization Notes</h3>
<ul class="program_list">
  <% @notes.each do |paper| %>
    <%= render :partial=>'program_element', :locals=>{:program=>paper} %>
  <% end %>
</ul>


<h3>Posters</h3>
<ul class="program_list">
  <% @posters.each do |paper| %>
    <%= render :partial=>'program_element', :locals=>{:program=>paper} %>
  <% end %>
</ul>