$wrapper_width: 1024px;
$footer_height: 42px;
$link_color: #18A7C1;

@mixin signature_gradient(){
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff892a+0,e95757+100 */
    background: #ff892a; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff892a 0%, #e95757 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff892a 0%,#e95757 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff892a 0%,#e95757 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff892a', endColorstr='#e95757',GradientType=0 ); /* IE6-9 */
}

@mixin button_gradient(){
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff892a+0,e95757+100 */
    background: $link_color; /* Old browsers */
    background: -moz-linear-gradient(left,  $link_color 0%, #65d1c0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $link_color 0%,#65d1c0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $link_color 0%,#65d1c0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$link_color', endColorstr='#65d1c0',GradientType=0 ); /* IE6-9 */
}

html{
  position: relative;
  min-height: 100%;
}

body {
    margin: 0 0 42px; /* bottom = footer height */
    font-family: 'Open Sans', sans-serif;
    color: #353535;
}

table { 
    border-spacing: 0;
    border-collapse: collapse;
}

ul{
    margin: 0px;
    padding: 0px;
}

h2{
    font-weight: bold;
    font-size: 24px;
    margin-top: 30px;
}

h3{
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
}

a:link{
  text-decoration: none;
  color: $link_color;
}

a:visited{
  color: $link_color;
}

a:hover{
  color: #ff892a;
}

a:active{

}

.button{
  font-size: 13px;
  color: white;
  font-weight: bold;

  padding: 9px 16px;
  margin-top: 15px;

  @include button_gradient();
}

#wrap{
    width: $wrapper_width;
    margin: 0px auto;
}

#footer {
    position: absolute;
    bottom: 0;
    height: $footer_height;
    width: $wrapper_width;
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-align: center;
    
    @include signature_gradient();
}
    
#copyright{
   margin-top: 15px;
}

.strip{
    height: 4px;
    background: url("strip.png");
}

#header{
    height: 74px;
    position: relative;
    color: #474747;
    font-weight: bold;
}

#title{
    margin-top: 12px;
    margin-left: 0px;
    font-size: 19px;
    text-transform: uppercase;
    img{
      height: 43px;
}
}

ul#gnb{
    position: absolute;
    top: 0px;
    right: 0px;
    list-style-type: none;
    margin-top: 28px;
    font-size: 14px;
    
    li{
        display: inline;
        margin-left: 28px;
        
        a:link{
          color: inherit;
          text-decoration: none;
        }
        
        a:visited{
          color: inherit;
        }
        
        a:hover{
          color: #e95757;
        }
        
        a:active{
          color: inherit;
        }
    }
    
    li:first-child{
        margin-left: 0px;
    }
}


#main{
    padding-bottom: 45px;
    
    #main_image{
        height: 400px;
        position: relative;
        
        img{
          width: 100%;
          height: 100%;
        }
        
        #text_strips{
          position:absolute;
        }

        #text_strips.tall{
          bottom: 26px;
        }

        #text_strips.short{
          top: 26px;
        }
        
        .text_strip{
          font-weight: 300;
          padding: 0px 6px;
          color: white;
          @include signature_gradient();
        }
        .text_strip.big{
          font-size: 29px;
          line-height: 46px;
        }
        .text_strip.small{
          font-size: 18px;
          line-height: 36px;
        }
    }
    
    #main_image.tall{
      height: 400px;
    }
    #main_image.short{
      height: 290px;
    }    
}

table#home_main_wrapper {
  td#home_left, td#home_main{
    vertical-align: top;
    padding: 0px;
  }
  
  td#home_left{
    width: 250px;       
  }
  
  td#home_main{
    padding-left: 55px !important;      
    
    p, .paragraph{
      margin-top: 28px;
      font-size: 14px;
      font-weight: 600;
      line-height: 27px;
      color: #616161;
      
      strong{
        font-weight: 600;
        color: #FB6122;
      }
    }
     
  }
}

.end_back_link{
  text-align: right;
  font-weight: bold;
  font-size: 14px;
}

.subheader{
    margin-top: 60px;
    margin-bottom: 24px;
    
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 8px;
    border-bottom: 1px solid #8d8d8d;
    
    .bullet{
      width:12px;
      height:12px;
      display: inline-block;
          
      @include signature_gradient();
      
      -ms-transform: translate(-6px, -18px) rotate(45deg); /* IE 9 */
      -webkit-transform: translate(-6px, -18px) rotate(45deg); /* Safari */
      transform: translate(-6px, -18px) rotate(45deg);
    }

    .tail{
      float: right;
      font-size: 15px;
      margin-top: 11px;
    }
}

.subheader:first-child{
    margin-top:30px;
}

.important_dates{
    list-style-type: none;
    font-size: 14px;
    
    li{
      margin-top: 24px;
    }
    
    li:first-child{
      margin-top: 0px;
    }
    
    .date{
      text-transform: uppercase;
      font-weight: bold;
    }
    
    .description{
      color: #616161;
      font-weight: 600;
    }
}

.sponsor_list{
    list-style-type: none;
    
    li{
      display: inline-block;
      margin-right: 15px;
    }
    
    
}

.previous_years{
  list-style-type: none;
  font-size: 14px;

  li{
    white-space: nowrap;
    margin-top: 5px;

    div{
      display: inline-block;
    }

    .year{
      font-weight: bold;
      margin-right: 5px;
    }
    
    .location{
      font-weight: 600;
      width: 100px;
    }

    .date{
      font-size: 13px;
    }
  }

  a:first-child li{
    margin-bottom: 0px;
  }
}

.content_subtitle{
  margin-top: 41px;
  font-size: 17px;
  color: #A0A0A0;
  font-weight: 600;
  margin-bottom: 20px;
}
          
#home_main{
  
  .chairs{
    list-style-type: none;
    margin-top: -20px;
    
    .thumb{
      width: 118px;
    }
    
    .thumb_wrapper{
      width: 118px;
      height: 118px;
      border-radius: 60px;
      display: inline-block;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    
    li{
      display: inline-block;
      margin-top: 20px;
    }

    table{
      width: 356px;
    }

    td.description{
      vertical-align: middle;
      padding-left: 16px;
      .name{
        font-size: 18px;
        font-weight: bold;
      }
      .affiliation{
        font-size: 14px;
        font-weight: 600;
        color: #616161;
        margin-top: 2px;
      }
    }
  }


  .location_information{
    line-height: initial;
      
    .map{
      width: 350px;
      height: 350px;
    }

    .route_cell{
      vertical-align: top;
      padding-left: 15px;
      .route{
        margin-top: 25px;
        .name{
          margin-top:0px;
          margin-bottom: 3px;
          font-size: 14px;
          color: #252525;
        }

        div.description{
          margin-top: 8px;
          font-size: 13px;
          margin-bottom: 5px;
          color: #7d7d7d;
        }

        a{
          font-size: 12px;
          font-weight: bold;
        } 
      }

      .route:first-child{
        margin-top: 0px;
      }
    }
  }

}

.submission_system_button{
  margin-top:28px;
}
