<table>
    <tr>
        <td class="thumb">
            <div class="thumb_wrapper">
                <%= image_tag thumbnail %>
            </div>
        </td>
        <td class="description">
            <div class="name"><%= name %></div>
            <div class="affiliation"><%= affiliation %></div>
        </td>
    </tr>
</table>