<table class="content_table">
  <% deadlines.each do |deadline| %>
    <tr>
      <th>
        <%= deadline[:name].capitalize.html_safe%>
      </th>
      <td width="40%">
        <%= deadline[:time]%>
      </td>
    </tr>
  <% end %>
</table>
