<%= image_tag "pacific_vis_logo.jpg", :width=>"50%" %>
<p>  
  The 10th <strong>IEEE Pacific Visualization Symposium (PacificVis 2017)</strong> will be held at Hoam Faculty House, Seoul National University, <strong>Seoul, Korea</strong> during April 18 to 21, 2017. As part of PacificVis, workshop/tutorial sessions will be held on April 18, with the Symposium starting from April 19.
</p>

<p>
  Visualization has become an increasingly important research area due to its wide range of applications in many disciplines. PacificVis is an IEEE sponsored international visualization symposium held in the Asia-Pacific region, with the objective to foster greater exchange between visualization researchers and practitioners, and to draw more researchers in the Asia-Pacific region to enter this rapidly growing area of research. Previous PacificVis symposia were held in <strong>Kyoto</strong> (2008), <strong>Beijing</strong> (2009), <strong>Taipei</strong> (2010), <strong>Hong Kong</strong> (2011), <strong>Songdo</strong> (2012), <strong>Sydney</strong> (2013), <strong>Yokohama</strong> (2014), <strong>Zhejiang</strong> (2015), and <strong>Taipei</strong> (2016).</p>

<% if !@general_chairs.nil? %>
  <%= subheader("General Conference Chairs") %>
  <%= render partial: "chair_list_double_column", :locals=>{chairs: @general_chairs} %>
<% end %>



<%= subheader("Tweets") %>
  <div style="width:70%">
  <a class="twitter-timeline" data-link-color="#E95F28" href="https://twitter.com/PacificVis" 
    data-chrome="nofooter noborders noheader"
    data-tweet-limit="5"
    >Tweets by PacificVis</a> 
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
